
@font-face {
    font-family: 'Nunito', sans-serif;
}

p, div {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    
}

.navbar-custom {
    background-color: rgb(245,242,242);
    font-family: 'Nunito', sans-serif;
    margin-bottom: 2em;
}

.banner {
    text-align: center;
    margin-bottom: 5em;
}

.description {
    text-align: center;
}

.para-top {
    margin: 0;
}

.para-last {
    margin-bottom: 5em;
}

